h3, h4 {
    font-weight: normal;
}

h2 {
    color: #008a8a;
}

.user__container {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}

.user__container__left, .user__container__right {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
}

.user__container__header {
    background: #9dcece;
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    margin: 0 7%;
    padding: 2%;
    text-align: center;
}

.user__container__left__top {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    margin: 2% 7%;
    padding: 3%;
}

        .user__avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 10px lightgrey;
            height: 130px;
            margin: auto;
            width: 130px;
        }

        .user__container__left__top__userdata {
            margin-left: 2rem;
            width: 60%;
        }

                .user__container__left__top__userdata * {
                    line-height: 180%;
                } 

                .user__container__left__top__userdata__contact {
                    display: flex;
                }

                .user__container__left__top__userdata__contact * {
                    padding-right: 0.6rem;
                }

                .user__container__left__top__userdata input { 
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                    width: 80%;
                }

                .edit__buttons__container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin: 3% auto;
                    width: 80%;
                }

                .edit__button {
                    background: #0cadad69;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    font-size: 1.5rem;
                    padding: 0.3rem 1.2rem;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
                    vertical-align: middle;
                }

                .edit__button:hover{
                    background: #0cadad;
                }

                .save__button span, .delete__button span {
                    background: #0cadad69;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    font-size: 1.5rem;
                    padding: 0.3rem 1.2rem;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
                    vertical-align: middle;
                    } 
                    .delete__button span { background: #ff000069
                }

                .unvisible {
                    display: none;
                }

.user__container__left__bottom {
    margin-top: 5%;
}

        .user__container__left__market {
            background: rgba(255, 255, 255, 0.555);
            border: 1px solid lightgrey;
            border-radius: 10px;
            display: flex;
            margin: 2% 7%;
            padding: 3%;
        }

        .user__container__left__market img {
            border-radius: 10px;
            height: 100%;
            width: 50%;
        }

        .user__container__left__market__marketdata {
            line-height: 150%;
            margin-left: 3rem;
        }

        .user__container__left__market__marketdata h3 {
            color: #008a8a;
            font-weight: bold;
        }

.user__container__right {}

        .markets__list__container {
            border: 1px solid lightgrey;
            border-radius: 10px 0px 0px 10px;
            border-right: none;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 1.4rem;
            height: 72vh;
            line-height: 150%;
            margin-top: 5%;
            overflow: auto;
        }


@media (max-width: 1150px) {
    .user__container__left__market {
        flex-wrap: wrap;
    }
    .user__container__left__market img {
        margin: auto;
    }
    .user__container__left__top__userdata input { 
        width: 100%;
    }
    .user__container__left__market__marketdata {
        margin: auto;
        padding: 2rem;
    }
}

@media (min-width: 720px) and (max-width: 830px) {
    .user__avatar {
        display: none;
    }
    .user__container__left__top__userdata {
        margin: auto;
    }
}

@media (max-width: 720px) {
    .user__container__left, .user__container__right {
        flex-basis: 80%;
        margin: 7vh auto 0;
    }
    .user__container__right {
        margin-bottom: 7vh;
    }
    .user__container {
        height: auto;
    }
}

@media (max-width: 525px) {
    .user__avatar {
        display: none;
    }
    .user__container__left__top__userdata {
        margin: auto;
    }
}