.market__container {
    margin-top: 6vh;
}

.market__container__filter {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
}

.market__container__filter h1 {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid lightgrey;
    border-radius: 10px;
    color: #6cb8b8;    
    font-size: 4rem;
    letter-spacing: 1.3rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

.market__container__filter input {
    border: 1px solid #9dcece;
    border-radius: 10px 0 0 10px;
    margin-top: 1.2rem;
    padding: 1.5rem;
}

.market__container__filter select {
    background: #66c7c7;
    border: none;
    border-radius: 0 10px 10px 0 ;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
    padding: 1.5rem;
}

.market__product__container {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid lightgrey;
    border-right: none;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh auto;
    max-height: 70vh;
    overflow: auto;
    width: 60vw;
}

.market__product {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 220px;
    margin: 15px;
    text-align: center;
    width: 170px;
}

.market__product img {
    height: 100px;
    padding: 10px;
    width: 100px;
}

.market__product p {
    font-size: 1.3rem;
    margin: 0 1.2rem;
}

.market__product svg {
    color: #0cadad;
    cursor: pointer;
    padding-bottom: 1rem;
}

@media (max-width: 475px) {
    .market__container__filter h1 {
        font-size: 3rem;
        letter-spacing: 1.3rem;
        padding: 1rem 3rem;
    }
    .market__container__filter form {
        text-align: center;
    }
    .market__container__filter input {
        border-radius: 10px;
        padding: 1.5rem;
        width: 55%;
    }
    .market__container__filter select {
        border-radius: 10px;
        margin: 1rem;
        padding: 1.5rem;
        width: 65%;
    }
}